*:focus {
    outline: none;
}

.dashboard-jomail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px #555;
    overflow: scroll;
    min-width: 1024px;
}

.header-jomail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    color: #fff;
    padding: 3px 15px;
    background-color: rgb(34, 34, 57);
}

.menu-jomail {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 200px;
    color: #fff;
    background-color: #333;
    border-right: solid 1px #333;
}

    .menu-jomail > div {
        text-align: left;
        padding: 5px 15px;
        margin-right: 10px;
        border-radius: 0px 20px 20px 0px;
        cursor: pointer;
        font-size: 15px;
    }

    .menu-jomail > div:hover {
        background-color: #888;
    }

    .menu-jomail-active {
        background-color: #999;
    }

.messages-container-jomail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    color: #fff;
    background-color: #555;
    overflow-y: inherit;
}

.messages-tabs-jomail {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    cursor: pointer;
}

    .messages-tabs-active {
        background-color: #777;
    }

    .messages-tabs-jomail > div {
        width: 100%;
        padding: 15px;
        border-right: solid 1px #333;
        border-bottom: solid 1px #333;
        text-align: left;
        font-size: 15px;
    }

.messages-rows-jomail {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 700;
    background-color: #555;
}

    .messages-rows-jomail-read {
        font-weight: 400;
        background-color: #222;
    }

    .messages-rows-jomail > div {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
        border-bottom: solid 1px #777;
        font-size: 14px;
        cursor: pointer;
    }

    .messages-rows-jomail > div:hover {
        box-shadow: 0px 0px 10px 1px #777;
    }

        .messages-rows-jomail > div > div {
            display: flex;
            justify-content: flex-start;
        }

        .messages-rows-jomail > div > div > div {
            margin-right: 10px;
        }

.new-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    bottom: 16px;
    right: 30px;
    width: 600px;
    height: 400px;
    z-index: 1000;
    background-color: #fff;
    border-radius: 7px 7px 0px 0px;
    min-width: 300px;
}

.new-message-header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    color: #fff;
    background-color: #333;
    padding: 10px 15px;
    border-radius: 7px 7px 0px 0px;
}

.new-message-body {
    width: 100%;
    padding: 10px;
    border: solid 1px #222;
}

    .new-message-body form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .new-message-body form input,
    .new-message-body form textarea {
        border: none;
        border-bottom: solid 1px #ddd;
        width: inherit;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }

    .new-message-body form textarea {
        height: 220px;
    }

    .new-message-body form button {
        width: 100px;
        height: 35px;
    }

.message-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #fff;
    color: #000;
    }

.starred {
    color: gold;
}