@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

:root {
  --bg-color: rgb(14, 21, 66);
  --active: rgb(67, 67, 126);
}

body, html {
  margin-top: 0;
  left: 0;
  font-size: 13px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-container {
  display: flex;
  padding: 5px 25px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  color: #fff;
}

  .nav-container-logo {
    font-family: 'courier';
    font-size: 25px;
  }

  .nav-container-links > a,
  .nav-container-logo > a {
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
    margin-left: 10px;
    transition-duration: 0.5s;
  }

  .nav-container-links > a:hover {
    border: solid 1px #fff;
  }

  .nav-link-active {
    background-color: var(--active);
  }

.coming-soon,
.resume,
.contact,
.login,
.my-apps {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  transition-duration: 0.1s;
  padding: 15px;
}